.schoolbox {
    background: linear-gradient(to bottom right, #ffd1dc, lightblue); /* Soft pink gradient */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin: 5rem;
    min-height: 37rem; /* Set a fixed minimum height */
    min-width: 30rem;
    padding: 4rem;
    border-radius: 2rem;
    font-size: 2rem;
    display: flex; /* Enable flexbox for centering */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center; /* Center text */
}
.education-container{
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center; 
    justify-content: center;
}

@media (max-width: 768px) {
    .education-container {
      flex-direction: column; 
    }

}
