/* General Navbar Styles */
.sticky-navbar {
  position: fixed;
  top: 0;
  height: 2rem;
  width: 100%;
  background-color: #d8f9ff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: pink;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.hamburger-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: lightpink;
  cursor: pointer;
  display: none; /* Hidden by default */
}

.menu-links {
  display: flex;
  list-style: none;
  color: black;
  gap: 20px;
}

.menu-links.open {
  display: flex;
  flex-direction: column;
  background-color: #d8f9ff;
  position: absolute;
  top: 20px;
  right: 49px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-links li {
  margin: 10px 0;
}

.menu-links.open a {
  color: black;
}

@media (max-width: 768px) {
  .menu-links {
    display: none; /* Hide by default on small screens */

  }

  .hamburger-button {
    display: flex; /* Show hamburger button */
  }
}
