.about-container button{
    font-size: 1.7rem;
    margin: 0.5rem;
    border-radius: 2rem;
    background-color: lightblue;
}
.about-container button:hover{
    background-color: #ffecf2;
    


}
.about-container{
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.button-link{
    text-decoration: none;
}