.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    align-items: center; 

}

.contact-item{
    background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    margin: 5rem;
    min-height: 3rem;
    padding: 6rem;
    border-radius: 2rem;
    font-size: 2rem;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}
.contact-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); 
}
.contact-item a {
    color: #d81b60; 
    text-decoration: none;
}


.contact-logo {
    font-size: 4rem; 
    margin-bottom: 1rem;
    color: #ff69b4; 
}

.contact-item a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .contact-container {
      flex-direction: column; 
    }

}
  