body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFB6C1;
}
h1{
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
button{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
