.work-container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

.work-item{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 2rem;
}
.title{
    justify-content: center;
    display: flex; 
    color: var(--gradient-start);
    -webkit-text-stroke: 3px black;
    margin-bottom: -1rem;
}

